In [1]:
import pandas as pd
import numpy as np

C:\Users\user\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\user\anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\user\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
train_interpol = pd.read_csv('train_interpol.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_29700\1604670210.py:1: DtypeWarning: Columns (16,22) have mixed types. Specify dtype option on import or set low_memory=False.
  train_interpol = pd.read_csv('train_interpol.csv')

In [3]:
train_interpol.isnull().sum()

일시               0
지역               0
측정소코드            0
측정소명             0
SO2          64871
CO           64871
O3          175668
NO2              0
PM10             0
주소               0
위도_x             0
경도_x             0
기상위도             0
기상경도             0
거리               0
지점          753317
지점명_x       753317
기온(°C)       82247
강수량(mm)      82270
풍속(m/s)      82247
습도(%)       424378
풍향(deg)    5015578
지점주소       1790045
dtype: int64

In [23]:
# 지점,지점명_x, 지점주소는 제외 어차피 볼필요 없음
null_col = ['SO2','CO','O3','기온(°C)','강수량(mm)','풍속(m/s)','습도(%)','풍향(deg)']

In [24]:
null_points = []
for col in null_col:
    print('--------{}--------'.format(col))
    null_df = train_interpol[train_interpol[col].isnull()]
    print(null_df['측정소코드'].value_counts())
    # null_points.appned(null_df['측정소코드'].value_counts().[0])

--------SO2--------
221271    57580
221183     7291
Name: 측정소코드, dtype: int64
--------CO--------
221271    57580
221183     7291
Name: 측정소코드, dtype: int64
--------O3--------
131414    60354
131120    60084
735116    55230
Name: 측정소코드, dtype: int64
--------기온(°C)--------
131145    58462
422205    16122
238377     7663
Name: 측정소코드, dtype: int64
--------강수량(mm)--------
131145    58462
422205    16122
238377     7663
437203       23
Name: 측정소코드, dtype: int64
--------풍속(m/s)--------
131145    58462
422205    16122
238377     7663
Name: 측정소코드, dtype: int64
--------습도(%)--------
131145    58462
131163    57522
131384    36122
422202    32090
823705    23507
823706    22278
422204    22198
336221    20124
221901    18785
111282    18463
525162    17679
422205    16122
823803    10188
238184     9995
131234     9384
131474     9328
437125     8659
238377     7663
422206     6550
633215     6482
633133     4277
534452     3602
336462     2836
132993     2062
Name: 측정소코드, dtype: int64
--------풍향(deg)--------
111121    60069
238131    59729
324134    59477
525142    59430
131112    59320
          ...
131593      716
238203      261
238134      260
238379      206
437203       23
Name: 측정소코드, Length: 137, dtype: int64

221142,221163,131194,131385,131344,131542

In [25]:
null_code = [221271,221183,131145,422205,238377,437203,131163,131384,422202,823705,823706,
             422204,336221,221901,111282,525162,823803,238184,131234,131474,437125,422206,633215,633133,534452,336462,132993,131414,
            131120,735116]

In [26]:
for code in null_code:
  print('--------{}--------'.format(code))
  code_len = len(train_interpol[train_interpol['측정소코드'] == code])
  print(code_len)

--------221271--------
57580
--------221183--------
7291
--------131145--------
58462
--------422205--------
16122
--------238377--------
7663
--------437203--------
23
--------131163--------
57522
--------131384--------
36122
--------422202--------
32090
--------823705--------
23507
--------823706--------
22278
--------422204--------
22198
--------336221--------
20124
--------221901--------
18785
--------111282--------
18463
--------525162--------
17679
--------823803--------
10188
--------238184--------
9995
--------131234--------
9384
--------131474--------
9328
--------437125--------
8659
--------422206--------
6550
--------633215--------
6482
--------633133--------
4277
--------534452--------
3602
--------336462--------
2836
--------132993--------
2062
--------131414--------
60354
--------131120--------
60084
--------735116--------
55230

(풍향제외) 다른 변수들은 해당 관측소의 모든변수가 다 안채워져있어 interpolate안됨
- 160090

In [27]:
train_interpol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18081790 entries, 0 to 18081789
Data columns (total 23 columns):
 #   Column   Dtype
---  ------   -----
 0   일시       object
 1   지역       object
 2   측정소코드    int64
 3   측정소명     object
 4   SO2      float64
 5   CO       float64
 6   O3       float64
 7   NO2      float64
 8   PM10     float64
 9   주소       object
 10  위도_x     float64
 11  경도_x     float64
 12  기상위도     float64
 13  기상경도     float64
 14  거리       float64
 15  지점       float64
 16  지점명_x    object
 17  기온(°C)   float64
 18  강수량(mm)  float64
 19  풍속(m/s)  float64
 20  습도(%)    float64
 21  풍향(deg)  float64
 22  지점주소     object
dtypes: float64(16), int64(1), object(6)
memory usage: 3.1+ GB

In [28]:
train_interpol2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18081790 entries, 0 to 18081789
Data columns (total 22 columns):
 #   Column   Dtype
---  ------   -----
 0   일시       object
 1   지역       object
 2   측정소코드    int64
 3   측정소명     object
 4   SO2      float64
 5   CO       float64
 6   O3       float64
 7   NO2      float64
 8   PM10     float64
 9   주소       object
 10  위도_x     float64
 11  경도_x     float64
 12  기상위도     float64
 13  기상경도     float64
 14  거리       float64
 15  지점       float64
 16  지점명_x    object
 17  기온(°C)   float64
 18  강수량(mm)  float64
 19  풍속(m/s)  float64
 20  습도(%)    float64
 21  지점주소     object
dtypes: float64(15), int64(1), object(6)
memory usage: 3.0+ GB

In [29]:
# 풍향제거
train_interpol2 = train_interpol.drop(columns = ['풍향(deg)'],axis = 1)
train_interpol2.shape

(18081790, 22)

In [30]:
train_interpol2.isnull().sum()

일시               0
지역               0
측정소코드            0
측정소명             0
SO2          64871
CO           64871
O3          175668
NO2              0
PM10             0
주소               0
위도_x             0
경도_x             0
기상위도             0
기상경도             0
거리               0
지점          753317
지점명_x       753317
기온(°C)       82247
강수량(mm)      82270
풍속(m/s)      82247
습도(%)       424378
지점주소       1790045
dtype: int64

In [31]:
for code in null_code:
  print('--------{}--------'.format(code))
  code_len = len(train_interpol2[train_interpol2['측정소코드'] == code])
  print(code_len)

--------221271--------
57580
--------221183--------
7291
--------131145--------
58462
--------422205--------
16122
--------238377--------
7663
--------437203--------
23
--------131163--------
57522
--------131384--------
36122
--------422202--------
32090
--------823705--------
23507
--------823706--------
22278
--------422204--------
22198
--------336221--------
20124
--------221901--------
18785
--------111282--------
18463
--------525162--------
17679
--------823803--------
10188
--------238184--------
9995
--------131234--------
9384
--------131474--------
9328
--------437125--------
8659
--------422206--------
6550
--------633215--------
6482
--------633133--------
4277
--------534452--------
3602
--------336462--------
2836
--------132993--------
2062
--------131414--------
60354
--------131120--------
60084
--------735116--------
55230

In [32]:
# test_interpol2.reset_index(inplace = True)

In [33]:
# 관측소 제거를 위해 인덱스 추출
null_idx = []
for code in null_code:
  df = train_interpol2[train_interpol2['측정소코드'] == code]
  idx_list = list(set(df.index.to_list()))
  null_idx.extend(idx_list)

In [34]:
len(null_idx)

664940

In [35]:
train_interpol2.shape

(18081790, 22)

In [36]:
train_interpol3 = train_interpol2.drop(null_idx, axis = 0)
train_interpol3.shape

(17416850, 22)

정확히 160090개 떨어져 나감

In [37]:
# index reset후 저장
train_interpol3.reset_index(drop = True, inplace = True)
train_interpol3.head(4)

,일시,지역,측정소코드,측정소명,SO2,CO,O3,NO2,PM10,주소,...,기상위도,기상경도,거리,지점,지점명_x,기온(°C),강수량(mm),풍속(m/s),습도(%),지점주소
0,2014-01-01 01:00:00,강원 강릉시,632132,옥천동,0.010,0.6,0.022,0.011,132.0,강원 강릉시 옥천동,...,37.7515,128.891,1.209623,105.0,강릉,6.6,0.0,5.4,30.0,강원도 강릉시용강동 63-20강릉자동기상관측소
1,2014-01-01 02:00:00,강원 강릉시,632132,옥천동,0.010,0.6,0.021,0.011,121.0,강원 강릉시 옥천동,...,37.7515,128.891,1.209623,105.0,강릉,5.9,0.0,2.8,30.0,강원도 강릉시용강동 63-20강릉자동기상관측소
2,2014-01-01 03:00:00,강원 강릉시,632132,옥천동,0.011,0.9,0.019,0.011,101.0,강원 강릉시 옥천동,...,37.7515,128.891,1.209623,105.0,강릉,4.5,0.0,0.7,28.0,강원도 강릉시용강동 63-20강릉자동기상관측소
3,2014-01-01 04:00:00,강원 강릉시,632132,옥천동,0.011,1.0,0.014,0.017,82.0,강원 강릉시 옥천동,...,37.7515,128.891,1.209623,105.0,강릉,3.8,0.0,1.0,24.0,강원도 강릉시용강동 63-20강릉자동기상관측소

In [38]:
train_interpol3.shape

(17416850, 22)

In [39]:
train_interpol3.isnull().sum()

일시               0
지역               0
측정소코드            0
측정소명             0
SO2              0
CO               0
O3               0
NO2              0
PM10             0
주소               0
위도_x             0
경도_x             0
기상위도             0
기상경도             0
거리               0
지점          644714
지점명_x       644714
기온(°C)           0
강수량(mm)          0
풍속(m/s)          0
습도(%)            0
지점주소       1626054
dtype: int64

In [40]:
# 지역,측정소명,주소,지점, 지점명_x, 지점주소 제거
train_interpol4 = train_interpol3.drop(columns = ['지역','측정소명','주소','지점','지점명_x','지점주소'],axis = 1)
train_interpol4.shape
train_interpol4.rename(columns={'일시':'date','측정소코드':'code',
                               '위도_x':'air_lat','경도_x':'air_lon',
                               '기상위도' : 'weat_lat','기상경도' : 'weat_lon',
                               '거리':'dist','기온(°C)':'temp',
                               '강수량(mm)':'percip','풍속(m/s)':'wind_speed',
                               '습도(%)':'humidity'},inplace = True)

In [41]:
train_interpol4.to_csv('train_final.csv', index=False)

In [43]:
len(train_interpol4['code'].unique())

444